*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.Youtube_list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
}
.youtube-item_background{
  width: 100%;
  height: 350px;
}
.youtube-item_info{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.info-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.info-Text_title{
  font-size: 20px;
  font-weight: 600;
}
.info-Text_content{
  margin-top: 10px;
}